.Securitysettings-container {
  width: 100%;
  margin: 2% auto;
  padding: 2%;
  color: #333;
  
  box-sizing: border-box;
}

.Securitysettings-section {
  margin-bottom: 1.5rem;
}

.Securitysettings-label {
  display: block;
  font-weight: 500;
  font-size: 0.85rem;
  margin-bottom: 0.4rem;
}

.Securitysettings-input {
  width: 100%;
  font-size: 0.85rem;
  padding: 0.5rem 0.75rem;
  border: 1.4px solid #ccc;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-bottom: 0.75rem;
  transition: border-color 0.2s;
}

.Securitysettings-input:focus {
  border-color: #3b82f6;
  outline: none;
}

.Securitysettings-button-group {
  display: flex;
  gap: 1%;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.Securitysettings-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.85rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}

.Securitysettings-btn:hover {
  background-color: #1d4ed8;
}

.Securitysettings-error-text {
  color: #e02424;
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: -0.3rem;
  margin-bottom: 0.3rem;
}

.Securitysettings-password-info {
  font-size: 0.75rem;
  color: #777;
  margin-top: -0.4rem;
}

.Securitysettings-login-record {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 0.4rem;
  font-size: 0.85rem;
}

.Securitysettings-login-record table {
  width: 100%;
  border-collapse: collapse;
  color: #444;
  font-size: 0.85rem;
}

.Securitysettings-login-record td {
  padding: 0.3rem 0.5rem;
  vertical-align: middle;
  font-weight: 500;
  opacity: 0.7;
}

.SecuritySettings-mailtell{
  display:flex;
  gap: 1rem;                /* 요소 간 간격 */
  align-items: center;  
}